.navStickTop{
    z-index: 500;
    position: fixed;
    margin-top: -1rem;
}
.lang-div{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 1rem;

}
.langList{
    position: fixed;
    top: 5rem;
    background: var(--main-color);
    padding-top: 2rem;
    width: 6rem;
    border-radius: 1.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 2rem;
    padding-left: 1rem;
    padding-right: 1rem;
    gap: 0.75rem;
}
.hide{
    display: none !important;
}

.langList a{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: azure;
}


.project-detail-grid-item div:nth-child(2) {
    text-align: end;
}

@media screen and (min-width: 768px){
.projects-item {
    border-radius: 1.5rem;
    top: 7rem;
}
.navbar-menu{
    margin-top: -35px;
}
.navbar-right{
    margin-top: 0 !important;
}
.contact-hero-content-grid {
    grid-column-gap: 2rem;
    grid-template-columns: 1fr 390px;
}
}

@media screen and (min-width: 1440px){
.contact-hero-content-grid {
    grid-column-gap: 2rem;
    grid-template-columns: 1fr 476px;
}
}